# .env

DIRECTOR_PROJECT={{ name }}
{%- for e in env %}
{{ e.name }}={{ e.placeholder if (render_mode is defined and render_mode == "mkdocs" and e.placeholder) else e.default }}
{%- endfor %}
{%- if render_mode is defined and render_mode == "deploy" %}
{%- for p in ports %}
{%- if loop.first %}
WEB_PORT={{ p.port or p.target }}
{%- endif %}
{%- endfor %}
{%- for v in volumes %}
{{ v.placeholder.replace("@", "") }}={% if v.root_var %}{{ cfg_root }}/{% endif %}{{ v.source }}
{%- endfor %}
{%- endif %}
