# dbuild configuration file
# Place in .daemonless/config.yaml or .dbuild.yaml (higher priority)
#
# Full reference: https://github.com/daemonless/dbuild

build:
  variants:
    - tag: latest
      containerfile: Containerfile
    - tag: pkg
      containerfile: Containerfile.pkg
    - tag: pkg-latest
      containerfile: Containerfile.pkg
      args:
        BASE_VERSION: "15-latest"

cit:
  mode: health
  port: {{ port }}
  health: /
  {%- if mlock %}
  annotations:
    - "org.freebsd.jail.allow.mlock=true"
  {%- endif %}
