# Makejail{{ '\n\n' }}

{%- set _reg = reg_var if reg_var is defined else registry -%}
ARG tag={{ image_tag | default(default_tag) }}

OPTION container=boot
OPTION overwrite=force
OPTION from={{ image_ref | default(_reg + "/" + name + ":${tag}") }}
